{% extends "base.njk" %}

{% block content %}
<div class="govuk-width-container">
    <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
           <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">Doctor Who</h1>
              <p class="govuk-body">This is a service to contact the Doctor, report suspicious alien activity and sightings of Rose Tyler.</p>
            </div>
          </div>
    </main>
</div>
{% endblock %}